.div18,
.last-30-days,
.paid {
  position: relative;
}
.div18,
.paid {
  font-family: var(--heading-3);
  text-align: left;
}
.paid {
  font-size: var(--font-size-3xs);
  text-transform: uppercase;
  color: var(--bg);
}
.div18 {
  font-size: var(--paragraph-size);
  color: var(--white);
}
.paid-parent,
.pending-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  border-radius: var(--br-8xs);
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
}
.paid-parent {
  background-color: var(--color-limegreen);
  width: 102px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pending-parent {
  background-color: var(--lines1);
  width: 128px;
}
.frame-parent5,
.last-30-days-parent,
.overdue-parent,
.pending-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.overdue-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-salmon);
  border-radius: var(--br-8xs);
  width: 189px;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-parent5,
.last-30-days-parent {
  flex-direction: row;
  gap: var(--gap-8xs);
}
.last-30-days-parent {
  position: absolute;
  top: 35.39px;
  left: 338.64px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  padding: var(--padding-smi);
  align-items: center;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--black);
  font-family: var(--heading-3);
}
